[submodule "rquickjs-sys/quickjs"]
	path = sys/quickjs
	url = https://github.com/quickjs-ng/quickjs.git
[submodule "sys/quickjs-original"]
	path = sys/quickjs-original
	url = https://github.com/bellard/quickjs.git
